<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salim.medhelp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/med1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/med1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWv9VM26MpHQMztZwPBTZ7eoDh9Fkum0M" />

        <activity android:name=".MainActivity">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBWv9VM26MpHQMztZwPBTZ7eoDh9Fkum0M" />
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBWv9VM26MpHQMztZwPBTZ7eoDh9Fkum0M" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity"></activity>

        <activity android:name=".FinishPresAlarm" >

            <intent-filter>
                <action android:name="com.salim.medhelp.alarm"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Apdemofrag">
            <intent-filter>
                <action android:name="com.salim.medhelp.ap"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Remdemofrag" >

            <intent-filter>
                <action android:name="com.salim.medhelp.rem"/>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <service android:name=".SnoozeEvent"
            android:enabled="true"
            android:exported="true"

            />
    </application>

</manifest>